## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
import random 
from scipy.stats import sem 
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
Mouse_study_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer" )
# Display the data table for preview
Mouse_study_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
Mouse_count_df = Mouse_study_df["Mouse ID"].count()
print(Mouse_count_df)
Mouse_unique_count_df = Mouse_study_df["Mouse ID"].nunique()
print(Mouse_unique_count_df)

1893
249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Mouse_duplicates_timepoint_df = Mouse_study_df.groupby("Mouse ID")["Timepoint"].count()
Mouse_duplicates_timepoint_df

Mouse ID
a203    10
a251    10
a262    10
a275    10
a366     7
        ..
z435     3
z578    10
z581    10
z795    10
z969    10
Name: Timepoint, Length: 249, dtype: int64

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
Mouse_study_cleaned_df = Mouse_study_df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep="first")
Mouse_study_cleaned_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice in the clean DataFrame.
print(Mouse_study_cleaned_df["Mouse ID"].count())
print(Mouse_study_cleaned_df["Mouse ID"].nunique())

1888
249

In [15]:
print(Mouse_study_cleaned_df["Drug Regimen"].nunique())
print(Mouse_study_cleaned_df["Drug Regimen"].value_counts())
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
Mouse_study_grouped_drug_tumor_df = Mouse_study_cleaned_df.groupby("Drug Regimen")["Tumor Volume (mm3)"]
Mouse_study_mean_df= Mouse_study_grouped_drug_tumor_df.mean()
Mouse_study_median_df = Mouse_study_grouped_drug_tumor_df.median()
Mouse_study_variance = Mouse_study_grouped_drug_tumor_df.var()
Mouse_study_standard_deviation_df = Mouse_study_grouped_drug_tumor_df.std()
#sample = Mouse_study_cleaned_df.sample(30)
Mouse_study_SEM_df = sample["Tumor Volume (mm3)"].sem()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
Mouse_study_summary_df = pd.DataFrame({"Mean": Mouse_study_mean_df, "Median": Mouse_study_median_df, "Variance": Mouse_study_variance, "Standard Deviation": Mouse_study_standard_deviation_df, "SEM": Mouse_study_SEM_df})

10
Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Stelasyn     181
Placebo      181
Ceftamin     178
Infubinol    178
Propriva     156
Name: Drug Regimen, dtype: int64

                   Mean     Median   Variance  Standard Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764            4.994774  1.371832
Ceftamin      52.591172  51.776157  39.290177            6.268188  1.371832
Infubinol     52.884795  51.820584  43.128684            6.567243  1.371832
Ketapril      55.235638  53.698743  68.553577            8.279709  1.371832
Naftisol      54.331565  52.509285  66.173479            8.134708  1.371832
Placebo       54.033581  52.288934  61.168083            7.821003  1.371832
Propriva      52.393463  50.909965  43.138803            6.568014  1.371832
Ramicane      40.216745  40.673236  23.486704            4.846308  1.371832
Stelasyn      54.233149  52.431737  59.450562            7.710419  1.371832
Zoniferol     53.236507  51.818479  48.533355            6.966589  1.371832

## Summary Statistics

In [25]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
Mouse_study_summary_df
# Using the aggregation method, produce the same summary statistics in a single line
Mouse_study_summary_2_df=Mouse_study_cleaned_df.groupby("Drug Regimen").agg({"Tumor Volume (mm3)": ["mean", "median", "var", "std", "sem"]})
Mouse_study_summary_2_df

             Tumor Volume (mm3)
                           mean     median        var       std       sem
Drug Regimen
Capomulin             40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin              52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol             52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril              55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol              54.331565  52.509285  66.173479  8.134708  0.596466
Placebo               54.033581  52.288934  61.168083  7.821003  0.581331
Propriva              52.393463  50.909965  43.138803  6.568014  0.525862
Ramicane              40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn              54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol             53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [19]:
Mouse_study_unique_df = Mouse_study_cleaned_df["Mouse ID"].value_counts()

In [27]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
#Mouse_study_cleaned_df(kind="bar", facecolor="red")
#Mice = [Mouse_study_cleaned_df["Mouse ID"].asarray()]
#x_axis = np.arange(Mouse_study_unique_df["Mouse ID"])
#tick_locations = [value+0.4 for value in x_axis]
#plt.figure(figsize=(20,3))
plt.bar(x = Mouse_study_unique_df["Drug Regimen"].values, height = Mouse_study_unique_df["Mouse ID"].values, color = "red", alpha=0.5, align="edge")
plt.xticks(tick_locations,[Mouse_study_unique_df["Mouse ID"].all], rotation=45)
plt.title("Mice per Regimen")
plt.ylabel("Drug Regimen")
plt.xlabel("Mouse ID")
plt.show()
print(x)

KeyError: 'Drug Regimen'

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen